@font-face {
  font-family: 'Magistral Book';
  src: url('/assets/fonts/Magistral-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magistral';
  src: url('/assets/fonts/Magistral-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
