@import url('./reset.css');
@import url('./fonts.css');

body {
  background-color: #0856a2;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Magistral', sans-serif;
}

.container {
  max-width: clamp(20rem, 95%, 98.3125rem);
  margin: 0 auto;
  padding: 0 2rem;
}

.contain {
  max-width: clamp(20rem, 95%, 83.625rem);
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: sticky;
  background-color: #0856a2;
  left: 0;
  top: 0;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  z-index: 100;
  width: 100vw;
}

.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
}
.header__logos {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  .header__logo:nth-child(2) {
    padding-inline: 2rem;
    border-left: 0.125rem solid #7e7e7e;
    border-right: 0.125rem solid #7e7e7e;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  .header__nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

.hero {
  margin: 2.5rem 0;
}

.section__title {
  font-size: 4.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
}

.section__title-accent {
  color: #f9d500;
}

.hero__title {
  font-size: 4.375rem;
}

.hero__vector {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  left: 50%;
  white-space: nowrap;
  top: 1.25rem;
  text-transform: uppercase;
  transform: translateX(-50%) rotate(-4deg);
  border-radius: 0.375rem;
  padding: 1.0625rem 1.6875rem;
  background-color: #fff;
  color: #104680;
  margin-bottom: 1.25rem;
}

.hero__img {
  position: relative;
  min-width: 100%;

  height: 100%;
  height: auto;
  text-align: center;
}

.hero__img-text {
  position: relative;
  bottom: 3.125rem;
}

.how {
  margin: 9.375rem 0 9.375rem;
}

.how__body {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.how__title {
  font-size: 4.375rem;
  margin-bottom: 5.625rem;
}

.how__item {
  display: flex;
  align-items: stretch;
  gap: 1.875rem;
}

@media (min-width: 769px) {
  .how__item:nth-child(1) .how__item-img,
  .how__item:nth-child(3) .how__item-img,
  .how__item:nth-child(5) .how__item-img {
    order: 1;
  }
  .how__item:nth-child(1) .how__item-block,
  .how__item:nth-child(3) .how__item-block,
  .how__item:nth-child(5) .how__item-block {
    order: 2;
  }
  .how__item:nth-child(2) .how__item-block,
  .how__item:nth-child(4) .how__item-block {
    order: 1;
  }
  .how__item:nth-child(2) .how__item-img,
  .how__item:nth-child(4) .how__item-img {
    order: 2;
  }
}

.how__item-img {
  width: 50%;
  border-radius: 100%;
}
.how__item-block {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.how__item-text {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.how__item-subtext {
  font-size: 24px;
  text-align: center;
  max-width: 38.5625rem;
}

.--how-1 {
  background: url('/assets/images/1.svg') no-repeat center center / contain;
}

.--how-2 {
  background: url('/assets/images/2.svg') no-repeat center center / contain;
}

.--how-3 {
  background: url('/assets/images/3.svg') no-repeat center center / contain;
}

.--how-4 {
  background: url('/assets/images/4.svg') no-repeat center center / contain;
}

.--how-5 {
  background: url('/assets/images/5.svg') no-repeat center center / contain;
}

.plus {
  margin: 12.5rem 0 11.875rem;
}

.plus__title {
  font-size: 5rem;
  margin-bottom: 5.625rem;
}

.plus__body {
  margin-top: 5.8125rem;
  display: flex;
  flex-direction: column;
  gap: 5.3125rem;
}

.plus__item {
  flex: 1;
  background: #000000;
  min-height: 27rem;
  background: linear-gradient(
    177deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(25, 15, 41, 1) 36%,
    rgba(46, 30, 72, 1) 77%,
    rgba(55, 40, 80, 1) 97%
  );
  padding: 7.0625rem 6.375rem 1.875rem;
}

.plus__wrap {
  display: flex;
  justify-content: space-between;
}

.plus__item-title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.6875rem;
}

.plus__item-text {
  font-size: 26px;
}

.plus__item-img {
  width: 100%;
  height: 100%;
  max-height: 14rem;
  max-width: 24.875rem;
  object-fit: contain;
  object-position: center;
}

.plus__item-subtext {
  margin-top: 1.875rem;
  font-size: 1.125rem;
}

.plus__subtexts {
  display: none;
}

.plus__item-subtext--mobile {
  display: none;
}

.plus__item-subtext--desktop {
  display: block;
}

.plus__title--mobile {
  display: none;
}

.winner {
  margin: 11.875rem 0;
}

.winner__title {
  margin-bottom: 5.625rem;
}

.winner__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.winner__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #bbbbbb;
}

.winner__item-email {
  font-size: 42px;
  font-weight: 700;
}

.winner__item-gift {
  font-size: 26px;
}

.winner__actions {
  margin-top: 5.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6625rem;
}

.winner__actions-open {
  background: #104680;
  padding: 1.5rem 5.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 0.375rem;
  text-transform: uppercase;
}

.winner__actions-close {
  background-color: #fff;
  color: #104680;
  padding: 1.5rem 5.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 0.375rem;
  text-transform: uppercase;
}

.winner__item--hidden {
  display: none;
}

@media (max-width: 1440px) {
  .how__item-text {
    font-size: 60px;
  }
  .winner__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .header__body {
    flex-direction: column;
  }

  .header__body {
    gap: 1.5rem;
  }
  .how__item-text {
    font-size: 2.5rem;
  }

  .plus__title,
  .section__title {
    font-size: 3.125rem;
  }

  .plus__body {
    gap: 3.125rem;
  }

  .plus__item {
    min-height: 16rem;
    padding: 4.375rem 2.5rem 1.875rem;
  }

  .plus__item-title {
    font-size: 2.875rem;
  }
  .plus__item-text {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .contain,
  .container {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .hero__title,
  .section__title {
    font-size: 2.3125rem;
  }
  .header__nav-list {
    gap: 1.875rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    .header__nav-link {
      font-size: 0.875rem;
    }
  }
  .header__logos {
    gap: 0.75rem;
    .header__logo:nth-child(2) {
      padding-inline: 0.75rem;
    }
  }

  .hero {
    margin: 1.875rem 0;
  }
  .hero__vector {
    padding: 0.8125rem 1.25rem;
    top: -3.125rem;
    font-size: 1rem;
  }

  .hero__img {
    margin-top: 4.375rem;
  }
  .hero__img-text {
    display: none;
  }
  .how {
    margin: 3.125rem 0;
  }
  .how__title {
    font-size: 2.3125rem;
    margin-bottom: 3.125rem;
  }
  .how__item {
    flex-direction: column;
    gap: 0.9375rem;
  }

  .how__body {
    gap: 3.125rem;
  }

  .how__item-img {
    width: 100%;
    order: 2;
  }
  .how__item-block {
    width: 100%;
    height: 12.5rem;
    order: 1;
  }
  .how__item-text {
    font-size: 2rem;
  }
  .how__item-subtext {
    font-size: 0.875rem;
    max-width: 17.25rem;
  }

  .plus {
    margin: 3.125rem 0;
  }

  .plus__title {
    font-size: 2.3125rem;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 1.5625rem;
  }
  .plus__body {
    padding: 3.125rem 1.25rem;
    gap: 2.5rem;
    background: #000000;
    margin-top: 3.125rem;
    background: linear-gradient(
      177deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(25, 15, 41, 1) 36%,
      rgba(46, 30, 72, 1) 77%,
      rgba(55, 40, 80, 1) 97%
    );
  }
  .plus__item {
    min-height: 12.5rem;
    padding: 0;
  }

  .plus__item-title {
    font-size: 1.75rem;
    margin-bottom: 1.3125rem;
  }
  .plus__item-text {
    font-size: 1.25rem;
  }
  .plus__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.875rem;
  }

  .plus__item-img {
    max-height: 10rem;
    max-width: 18.75rem;
    order: 1;
  }

  .plus__title--mobile {
    display: block;
  }

  .plus__title--desktop {
    display: none;
  }

  .plus__text {
    order: 2;
  }
  .plus__item {
    background: transparent;
  }

  .plus__item-subtext--desktop {
    display: none;
  }

  .plus__subtexts {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 1.25rem;
    margin-top: 2.3125rem;
  }

  .plus__item-subtext--mobile {
    display: block;
    margin-top: 0;
  }

  .winner__title {
    margin-bottom: 3.125rem;
  }

  .winner__list {
    gap: 1.4375rem;
  }

  .winner__item {
    padding-bottom: 0.625rem;
  }

  .winner__item-email {
    font-size: 1.25rem;
  }
  .winner__item-gift {
    font-size: 0.875rem;
  }

  .winner__actions {
    margin-top: 1.4375rem;
    flex-direction: column;
    button {
      width: 100%;
      font-size: 0.875rem;
      padding: 1.125rem;
    }
  }
}
