@import url('./reset.css');
@import url('./fonts.css');

body {
  background-color: #0856a2;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Magistral Book', sans-serif;
}

.container {
  max-width: clamp(320px, 100%, 1573px);
  margin: 0 auto;
  padding: 0 clamp(16px, 2vw, 32px);
}

.contain {
  max-width: clamp(320px, 100%, 1338px);
  margin: 0 auto;
  padding: 0 clamp(16px, 2vw, 32px);
}

.header {
  position: sticky;
  background-color: #0856a2;
  left: 0;
  top: 0;
  padding-top: clamp(20px, 3vw, 40px);
  padding-bottom: clamp(10px, 2vw, 20px);
  z-index: 100;
  width: 100vw;
}

.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(30px, 3vw, 50px);
}
.header__logos {
  display: flex;
  align-items: center;
  gap: clamp(20px, 1.75vw, 28px);
  .header__logo img {
    max-height: 80px;
  }
  .header__logo:nth-child(2) {
    padding-inline: clamp(16px, 1.75vw, 28px);
    border-left: 2px solid #7e7e7e;
    border-right: 2px solid #7e7e7e;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: clamp(20px, 2.5vw, 40px);
  .header__nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

.hero {
  margin-top: clamp(20px, 3vw, 40px);
  margin-bottom: clamp(20px, 3vw, 40px);
}

.hero__title {
  font-size: clamp(40px, 3vw, 80px);
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  .hero__title-accent {
    color: #f9d500;
  }
}

.hero__vector {
  position: absolute;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 700;
  text-align: center;
  left: 50%;
  white-space: nowrap;
  top: 40px;
  text-transform: uppercase;
  transform: translateX(-50%) rotate(-4deg);
  border-radius: 0.375rem;
  padding: 1.0625rem 1.6875rem;
  background-color: #fff;
  color: #104680;
  margin-bottom: clamp(10px, 2vw, 20px);
}

.hero__img {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.hero__img-text {
  position: relative;
  bottom: 50px;
}
@media (max-width: 768px) {
  .header__body {
    flex-direction: column;
  }
  .header__nav-list {
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero__vector {
    top: 14px;
  }
  .hero__img-text {
    display: none;
  }
}
