@import url('./reset.css');
@import url('./fonts.css');

body {
  background-color: #0856a2;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Magistral', sans-serif;
}

.container {
  max-width: clamp(20rem, 95%, 98.3125rem);
  margin: 0 auto;
  padding: 0 2rem;
}

.contain {
  max-width: clamp(20rem, 95%, 83.625rem);
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: sticky;
  background-color: #0856a2;
  left: 0;
  top: 0;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  z-index: 100;
  width: 100vw;
}

.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
}
.header__logos {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  .header__logo:nth-child(2) {
    padding-inline: 2rem;
    border-left: 0.125rem solid #7e7e7e;
    border-right: 0.125rem solid #7e7e7e;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  .header__nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

.hero {
  margin: 2.5rem 0;
}

.hero__title {
  font-size: 4.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  .hero__title-accent {
    color: #f9d500;
  }
}

.hero__vector {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  left: 50%;
  white-space: nowrap;
  top: 1.25rem;
  text-transform: uppercase;
  transform: translateX(-50%) rotate(-4deg);
  border-radius: 0.375rem;
  padding: 1.0625rem 1.6875rem;
  background-color: #fff;
  color: #104680;
  margin-bottom: 1.25rem;
}

.hero__img {
  position: relative;
  min-width: 100%;
  height: 100%;
  height: auto;
  text-align: center;
}

.hero__img-text {
  position: relative;
  bottom: 3.125rem;
}

.how {
  margin: 9.375rem 0 9.375rem;
}

.how__body {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.how__title {
  font-size: 4.375rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 5.625rem;
  .how__title-accent {
    color: #f9d500;
  }
}

.how__item {
  display: flex;
  align-items: stretch;
  gap: 1.875rem;
}

@media (min-width: 769px) {
  .how__item:nth-child(1) .how__item-img,
  .how__item:nth-child(3) .how__item-img,
  .how__item:nth-child(5) .how__item-img {
    order: 1;
  }
  .how__item:nth-child(1) .how__item-block,
  .how__item:nth-child(3) .how__item-block,
  .how__item:nth-child(5) .how__item-block {
    order: 2;
  }
  .how__item:nth-child(2) .how__item-block,
  .how__item:nth-child(4) .how__item-block {
    order: 1;
  }
  .how__item:nth-child(2) .how__item-img,
  .how__item:nth-child(4) .how__item-img {
    order: 2;
  }
}

.how__item-img {
  width: 50%;
}

.how__item-block {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.how__item-text {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

.how__item-subtext {
  font-size: 24px;
  text-align: center;
}

.--how-1 {
  background: url('/assets/images/1.svg') no-repeat center center / contain;
}

.--how-2 {
  background: url('/assets/images/2.svg') no-repeat center center / contain;
}

.--how-3 {
  background: url('/assets/images/3.svg') no-repeat center center / contain;
}

.--how-4 {
  background: url('/assets/images/4.svg') no-repeat center center / contain;
}

.--how-5 {
  background: url('/assets/images/5.svg') no-repeat center center / contain;
}

@media (max-width: 1440px) {
  .how__item-text {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .header__body {
    flex-direction: column;
  }

  .header__body {
    gap: 1.5rem;
  }
  .how__item-text {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .contain,
  .container {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .hero__title {
    font-size: 2.3125rem;
  }
  .header__nav-list {
    gap: 1.875rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    .header__nav-link {
      font-size: 0.875rem;
    }
  }
  .header__logos {
    gap: 0.75rem;
    .header__logo:nth-child(2) {
      padding-inline: 0.75rem;
    }
  }

  .hero {
    margin: 1.875rem 0;
  }
  .hero__vector {
    padding: 0.8125rem 1.25rem;
    top: -3.125rem;
    font-size: 1rem;
  }

  .hero__img {
    margin-top: 4.375rem;
  }
  .hero__img-text {
    display: none;
  }
  .how {
    margin: 3.125rem 0;
  }
  .how__title {
    font-size: 2.3125rem;
  }
  .how__item {
    flex-direction: column;
  }

  .how__item-img {
    width: 100%;
    order: 2;
  }
  .how__item-block {
    width: 100%;
    height: 12.5rem;
    order: 1;
  }
  .how__item-text {
    font-size: 2rem;
  }
  .how__item-subtext {
    font-size: 0.875rem;
  }
}
